<form action="/mortgage" method="get">
  <label for="principal">PRINCIPAL AMOUNT</label>
  <input type="text" name="principal" placeholder= "Enter the principal amount">

  <label for="interest_rate">INTEREST RATE</label>
  <input type="text" name="interest_rate" placeholder= "Enter the interest rate">

  <label for="number_of_payments">PLANNED NUMBER OF PAYMENTS</label>
  <input type="text" name="number_of_payments" placeholder= "Enter the number of payments">

  <input type="submit">
</form>


<% if @result %>
  <p> Your monthly payment is <%= @result %> </p>
<%end%>