<form action="/sqrt" method="get">
  <label for="first">I WANT TO FIND THE SQUARE ROOT OF</label>
  <input type="text" name="first" placeholder= "Enter the first number">
  <input type="submit">
</form>

<% if @result %>
  <p> The square root of <%= @first %> is: <%= @result %> </p>
<%end%>