body {
  text-align: center;
  margin: 40px;
  text-decoration: none;
  color: black;
  background: url('/conan_surprise.png') right top no-repeat; 
  background-size: 70%;
  background-color: goldenrod;
}

nav {
  text-align: center;
}

li {
  display: inline-block;
  padding: 3%;
  border: 4px dotted rgb(253, 46, 3)
}

li a {
  text-decoration: none;
  color: rgb(253, 46, 3);
  font-family: helvetica;
  font-size: 15px;
}

div {
  padding: 50px;
  font-family: helvetica;
  font-size: 15px;

}